.productLink {
  text-decoration: none !important;
  color: #ffffff;
  font-weight: bold;
  border-bottom: 3px solid #515565;
  border-radius: 2px;
  padding: 0 1px;
  transition: all 0.2s ease;
}

.productLink:hover {
  color: #c3c6cb;
}

.iconContainer {
  position: relative;
}

.iconContainer img {
  width: 40px;
  color: #515565;
}

.iconContainer span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0b499b;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0.75rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
